.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

body {
  background-color: #daf8df;
  color: rgb(0, 0, 0);
  padding: 20px;
  font-family: Arial;
  text-align: center;
}



