.App {
  min-height: 100vh;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}



.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
