body {
    margin: 0;
    padding: 0;

}

.Navbar {
    position: sticky;
    top: 0;
    background-color: black;
    width: 100%;
    height: 120px;
    font-family: 'Lato', sans-serif;
    display: flex;


}

/*logo image*/
.Navbar .left {
    flex: 50%; 
    max-height: 100px;
    padding-left: 20px;
    align-content: center;
    padding-top: 10px;
}

/*text links*/
.Navbar .right {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    align-items: center;
    
}

.Navbar button {
    background: black;
    color: grey;
    text-decoration: none;
    font-size: 32px;
    margin-left: 20px;
    padding: 10px;
    width: 400px;
    border: none;
}

.Navbar .right .modalBackground {
    padding-top: 60%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    color: grey;
    align-content: left;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
}

.modalInside {
    width: 600px;
    height: 700px;
    max-width: calc(100% - 40px);
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: left;
    color: grey;
}

.modalContent {
    padding: 5px;
}

.modalContent p {
    line-height: 175%;
}

.Navbar .right .modalShowing-true {
    opacity: 1;
    pointer-events: show;
    
}



/*
.Navbar .right .content {
    max-height: 120px;

}

.Navbar .right .content a {
    text-decoration: none;
    color: #818181;
    font-size: 30px;
    margin-left: 35px;

}

.Navbar .right button{
    display: none;
}

.Navbar .right #hide{
    display: flex;
}

/*Reduces text size when window size is decreased
@media only screen and (max-width: 1365px) {
    .Navbar .right .content a {
        font-size: 25px;
    }
}

@media only screen and (max-width: 1220px) {
    .Navbar .right .content a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1070px) {
    .Navbar .right button {
        display: flex;
    }

    .Navbar .right .content a {
        display: none;
    }

    .Navbar .right #hide{
        position: absolute;
        left: 0px;
        top: 120px;
        width: 100%;
        height: 180px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Navbar .right #hide a{
        margin: 10px;
        font-size: 20px;
    }

}
*/