.Sidebar{
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    width: 15vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 1; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    transform: translate3d(-100vw, 0, 0);
}

.Sidebar_content{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
    padding-bottom: 100px;
}

#dropdown-basic-button{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: black;
  display: block;
  padding-bottom: 0px;
  /*margin-bottom: 130px;*/
}

#flyoutMenu {
    width: 10vw;
    height: 100vh;
    background-color: #eaa221;
    position: fixed;
    top: 1;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
  }
   
  #flyoutMenu.hide {
    transform: translate3d(-100vw, 0, 0);
  }
   
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }


  .dropdownParent{
    padding: 6px 8px 6px 5px;
    font-size: 100%;
    color: lime;
    display: block;
    margin-bottom: 130px;
  }