#roundButton {
    background-color: #FFFB7D;
    margin-bottom: 20px;
    width: 2.3vw;
    height: 10vh;
    border: 10px solid #df9716;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
    padding-left: 0px;
    overflow-x: hidden; /* Disable horizontal scroll */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    align-items: center;
    top: 50%;

  }
   

  #roundButton.open{
    transform: translate3d(10vw, 0, 0);
    overflow: hidden;
    align-items: center;
  }
  #roundButton.close{
    transform: translate3d(0vw, 0, 0);
    align-items: center;
  }

  #roundButton:hover {
    background-color: #FFFB7D;
    cursor: pointer;
    border-color: #cb8302;
    /*transform: scale(1.2, 1.2);*/
  }
   
  #roundButton:active {
    border-color: #003557;
    background-color: #FFF;
  }
